{% extends 'base.html' %}
{% load static %}



{% block content %}
{% include 'folder/nav.html' %}
<div class="container"">
    <div class=" top-header" style="margin-top: 50px">
    <img class="img-capa" src="{{ manga.capa.url }}" alt="">
    {% if manga.banner %}
    <img class="img-banner" src="{{ manga.banner.url }}" alt="">
    {% else %}
    <img class="img-banner" src="{% static 'img/miguel.png' %}" alt="">
    {% endif %}
</div>

<style>
    .next-page {
        background: red;
        position: absolute;
        margin-top: -70px;
        width: 100px;
    }

    .testee {
        background: black;
        width: 700px;
        height: 50px;
        position: absolute;
        margin-top: -50px
    }
</style>

<div class="meudeus2" style="margin-top: 450px; max-width: 600px">
    <div class="testee">

    </div>
    <div class="next-page">

        <a class="seta" style="margin-left: 640px;" href="{% url 'cap-view' manga.pk proximo %}">Proximo</a>

        <a class="seta" style="margin-left: 3px;" href="{% url 'cap-view' manga.pk anterior %}">Anterior</a>
        <div class="likeformview">

            <div class="deslikeview">
                <form action="{% url 'add-like' post.pk %}" method="POST" class="like-form" id="{{ post.id }}">
                    {% csrf_token %}
                    <button type="submit" class="like-btn{{ post.id }}" id="btndeslike">
                        {% if request.user not in post.likes.all %}
                        like
                        {% else %}
                        Unlike
                        {% endif %}
                    </button>
                </form>
                <span class="like-count{{ post.id }}" id="spannu">{{ post.likes.all.count }}</span>
            </div>
        </div>
    </div>
    {% for image in caps %}
    <img style=" max-width: 700px;" src="{{ image.image.url }}" alt="">
    {% endfor %}
</div>

{% block footer %}
{% include 'folder/footer.html' %}
{% endblock footer %}


<script>
    $(document).ready(function () {
        $('.like-form').submit(function (e) {
            e.preventDefault()
            const post_id = $(this).attr('id')

            const likeText = $(`.like-btn${post_id}`).text()
            console.log(likeText)
            const trim = $.trim(likeText)
            console.log(trim)
            const url = $(this).attr('action')

            let res;
            const likes = $(`.like-count${post_id}`).text()
            console.log(likes)
            const trimCount = parseInt(likes)

            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                    'post_id': post_id,
                },
                success: function (response) {
                    if (trim === 'Unlike') {
                        const likeText = $(`.like-btn${post_id}`).text('Like')
                        res = trimCount - 1
                        console.log(res)
                    } else {
                        const likeText = $(`.like-btn${post_id}`).text('Unlike')
                        res = trimCount + 1
                        console.log(res)
                    }
                    const likes = $(`.like-count${post_id}`).text(res)
                },
                error: function (response) {
                    console.log('Error', response)
                }
            })

        })
    })




</script>



<style>
    #spannu {
        color: white;
        margin-left: 48px;
        margin-top: -23px;
        position: absolute;
    }

    .spannu2 {
        color: white;
        margin-left: 55px;
        margin-top: -21px;
        position: absolute;
    }

    .seta {
        position: absolute;
        color: white;
        text-decoration: none;
        margin-top: 34px;
        width: 60px;
        text-align: center;
        height: 30px
    }

    .likeview {
        position: absolute;
        width: 90px;
        margin-left: 140px;
        margin-top: 7px;
        border-radius: 10px;
    }

    .deslikeview {
        position: absolute;
        width: 70px;
        background: rd;
        margin-left: 80px;
        border-radius: 30px;
        margin-top: 7px;
    }


    .btnlike {
        text-align: left;
        padding: 7px;
        width: 90px;
        height: 30px;
        color: white;
        border-radius: 7px;
        background: #000000;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #141414, #000000);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #141414, #000000);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }

    #btndeslike {
        width: 70px;
        height: 30px;
        text-align: left;
        padding: 7px;
        color: white;
        border-radius: 7px;
        background: #8E0E00;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #1F1C18, #8E0E00);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    }


    .likeformview {
        position: absolute;
        width: 220px;
        height: 40px;
        background: #000000;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to center, #141414, #000000);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to center, #141414, #141414);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        border-radius: 10px;
        margin-left: 240px;
        margin-top: 24px;
    }
</style>
</div>



{% endblock %}