{% extends 'base.html' %}
{% load static %}



{% block content %}
{% include 'folder/nav.html' %}
<div class="container" style="margin-left: 0px;">


    <div class="top-header">
        <img class="img-capa" src="{{ manga.capa.url }}" alt="">
        {% if manga.banner %}
        <img class="img-banner" src="{{ manga.banner.url }}" alt="">
        {% else %}
        <img class="img-banner" src="{% static 'img/miguel.png' %}" alt="">
        {% endif %}
    </div>
    <div class="manga-info">
        <h2 class="name-info">Manga Info</h2>
        <img class="capa-info" src="{{ manga.capa.url }}" alt="">
        <h2 class="manga-nome">{{ manga.nome }}</h2>
        <span class="manga-create">Lançado: {{ manga.created_on }}</span>
        <span class="manga-caps">Capitulos: {{ caps.count }}</span>
        <br>
        <br>
        <span class="manga-caps">{{ manga.descricao }}</span>
    </div>
    <br><br><br>
    <div class="meudeus2">
        <div class="latest-episodes">
            <div class="latest">
                <h1 class="latest-episodes-lan">Capitulos</h1>
                {% if user.is_superuser %}
                <a class="cadastrar-cap-a" style="color: white;" href="{% url 'cadastrar-cap' manga.pk %}">Cadastrar
                    Capitulo</a>
                {% endif %}
            </div>
            {% for cap in caps %}
            <a href="{% url 'cap-view' manga.pk cap.cap_number %}" class="direct">
                <div class="episodios2">
                    <div class="epis">
                        <h2 class="capitulos">Capitulo {{ cap.cap_number }}</h2>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>

</div>



{% endblock %}